<!-- template.html -->
<html>
<head>
    <title>Hello React</title>
    <script src="http://fb.me/react-0.11.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.11.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
</head>


<body>
<div id="content"></div>
<script type="text/jsx">
      /** @jsx React.DOM */

      // fixture data
      var data = [ { author : 'Kalymba'
                   , text   : 'I am a cat. I have no comment.'
                   }
                 , { author : 'Jitu'
                   , text   : 'Meow. Meow *meow*. Meow! Meow!! *MEOW!!!*'
                   }
                 ];

      var converter = new Showdown.converter();

      var Comment = React.createClass({
        render: function() {
          var rawMarkup = converter.makeHtml(this.props.children.toString());
          return (
            <div className="comment">
              <h2 className="commentAuthor">
                {this.props.author}
              </h2>
              <span dangerouslySetInnerHTML={{ __html : rawMarkup }} />
            </div>
          );
        }
      });

      var CommentList = React.createClass({
        render: function() {
          var commentNodes = this.props.data.map(function(comment) {
            return (
              <Comment author={ comment.author }>
                { comment.text }
              </Comment>
            );
          });
          return (
            <div className="commentList">
              { commentNodes }
            </div>
          );
        }
      });

      var CommentForm = React.createClass({
        handleSubmit: function(e) {
          e.preventDefault();
          var author = this.refs.author.getDOMNode().value.trim();
          var text = this.refs.text.getDOMNode().value.trim();
          if (!text || !author) {
            return;
          }
          this.props.onCommentSubmit({ author : author, text : text });
          this.refs.author.getDOMNode().value = '';
          this.refs.text.getDOMNode().value = '';
          return;
        }
      , render: function() {
          return (
            <form className="commentForm" onSubmit={ this.handleSubmit }>
              <input type="text" placeholder="Your name" ref="author" />
              <input type="text" placeholder="Add a comment" ref="text" />
              <input type="submit" value="Post" />
            </form>
          );
        }
      });

      var CommentBox = React.createClass({
        getInitialState : function() {
          return { data : [] };
        }
      , loadCommentsFromServer : function() {
          $.ajax({
            url: this.props.url
          , dataType: 'json'
          , success: function(data) {
              this.setState({data: data});
            }.bind(this)
          , error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        }
      , handleCommentSubmit : function(comment) {
          var comments = this.state.data
            , newComments = comments.concat([comment]);
          this.setState({ data : newComments });
          $.ajax({
            url: this.props.url
          , dataType: 'json'
          , type: 'POST'
          , data: comment
          , success: function(data) {
              this.setState({data: data});
            }.bind(this)
          , error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        }
      , componentDidMount : function() {
          this.loadCommentsFromServer();
          setInterval(this.loadCommentsFromServer, this.props.pollInterval);
        }
      , render : function() {
          return (
            <div className="commentBox">
              <h1>Comments</h1>
              <CommentList data={ this.state.data } />
              <CommentForm onCommentSubmit={ this.handleCommentSubmit } />
            </div>
          );
        }
      });

      React.renderComponent(
        <CommentBox url="comments.json" pollInterval={2000} />
      , document.getElementById('content')
      );



    </script>
</body>
</html>